:root {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Top Bar of Website */

.staticBar {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

a {
    color: white;
    text-decoration: none;
}

.visibleLink {
    text-decoration: underline;
}

.navi {
    position: fixed;
    top: 0;
    left: 10vw;
    right: 10vw;
    padding: 0.5em;
    height: 3em;
    background-color: #222;
    border-radius: 0 0 5px 5px;
    z-index: 2;
    box-shadow: 0em 0em 30px black;
}

.naviLinks {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5em;
    font-size: 0.9em;
    padding-right: 2px;
}

.naviLinks > a:not([href]) {
    color: #666;
}

.naviLinks > a {
    padding-right: 0.5em;
}

.naviLinks > a:hover {
    text-decoration: underline;
}

.socialLinks {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5em;
}

.socialLinks > a {
    display: inline-flex;
    vertical-align: middle;
    font-size: 0.8em;
    line-height: 16px;
    padding-left: 1em;
}

.socialLinks > a > img {
    margin-right: 0.5em;
}

.logoButton {
    position: absolute;
    line-height: 3em;
    vertical-align: middle;
}

.mainLogoLink {
    display: flex;
    vertical-align: middle;
    font-size: 1.5em;
    font-family: 'montserrat';
    font-weight: bold;
}

.mainLogo {
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
}

.warningLink {
    background: darkred;
    border-radius: 3px;
    padding: 0.5em;
}

/* Body Content */

.pageContent {
    background: #111;
    position: absolute;
    top: 0;
    left: 10vw;
    right: 10vw;
    z-index: 0;
    padding: 0.5em;
    padding-top: 10em;
    height: 100vh;
}

hr {
    width: 50%;
}

p {
    line-height: 2em;
    padding-left: 15%;
    padding-right: 15%;
}

.pageSection {
    background: #222;
    position: absolute;
    left: 0;
    right: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.pageSectionTitle {
    font-weight: bolder;
    font-size: 1.1em;
    margin-bottom: 1em;
}

.pageSectionItem {
    font-size: 0.9em;
    line-height: 0.6em;
    font-weight: bold;
}

.pageSectionValue {
    padding-top: 0.4em;
    font-size: 0.8em;
    margin-bottom: 1.5em;
}

.pageRegion {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.pageRegionLeft {
    width: calc(100% - 1em);
    padding: 0.5em;
}

.pageRegionRight {
    width: calc(100% - 1em);
    padding: 0.5em;
    text-align: right;
}

.pageRegionSeparator {
    width: 100%;
    background: #333;
}

.pageRegionSeparator > .pageSectionTitle {
    margin-bottom: 0;
    font-size: 1.5em;
    width: 50%;
    margin: 0.3em;
}

.pageArticle {
    padding: 0.5em;
}

.mindatMicroLink {
    background-color: #333;
    padding: 0.2em;
    border-radius: 5px;
    display: inline-flex;
    vertical-align: middle;
    font-size: 14px;
    font-weight: normal;
}

.mindatMicroIcon {
    width: auto;
    height: 16px;
}

sub, sup {
    line-height: 0;
}

.mainList {
    color: white;
    list-style-type: none;
    list-style-position: outside;
}

.mainList > li {
    padding: 0.5em;
    display: inline-block;
    zoom: 1;
}