.waferCanvas {
    width: 15em;
    height: 15em;
    border: 0px solid white;
}

span, input {
    line-height: 1.5em;
}

input {
    background-color: transparent;
    border: 1px solid grey;
    width: 4em;
    color: white;
    margin-left: 1em;
}